Q1. What is a database? Differentiate between SQL and NoSQL databases.

Python being a high-level language provides support for various databases. We can connect and run queries for a particular database using Python and without writing raw queries in the terminal or shell of that particular database, we just need to have that database installed in our system.

Type – 

SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed 

database. 

Language – 

SQL databases defines and manipulates data based structured query language (SQL). Seeing from a side this language is extremely powerful. SQL is one 

of the most versatile and widely-used options available which makes it a safe choice especially for great complex queries. But from other side it can 

be restrictive. SQL requires you to use predefined schemas to determine the structure of your data before you work with it. Also all of your data must 

follow the same structure. This can require significant up-front preparation which means that a change in the structure would be both difficult and 

disruptive to your whole system. 

A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, 

graph-based or organized as a KeyValue store. This flexibility means that documents can be created without having defined structure first. Also each 

document can have its own unique structure. The syntax varies from database to database, and you can add fields as you go. 

Scalability – 

In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like 

RAM, CPU or SSD. But on the other hand NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more 

servers in your NoSQL database. It is similar to adding more floors to the same building versus adding more buildings to the neighborhood. Thus NoSQL 

can ultimately become larger and more powerful, making these databases the preferred choice for large or ever-changing data sets.

Structure – 

SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores. 

This makes relational SQL databases a better option for applications that require multi-row transactions such as an accounting system or for legacy 

systems that were built for a relational structure. 

Property followed – 

SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database follows the Brewers CAP theorem 

(Consistency, Availability and Partition tolerance). 

Support – 

Great support is available for all SQL database from their vendors. Also a lot of independent consultations are there who can help you with SQL 

database for a very large scale deployments but for some NoSQL database you still have to rely on community support and only limited outside experts 

are available for setting up and deploying your large scale NoSQL deployments.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

DDL Commands :

a) Create

b) Alter 

c) truncate

d) drop

a) CREATE :
 
 This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
 
 EXAMPLE :-

In [ ]:
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

b) ALTER :
  
  This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete      
  or modify tasks easily.
  
  EXAMPLE :-

In [ ]:
ALTER TABLE Student_info
ADD CGPA number;

c) TRUNCATE :

   This command is used to remove all rows from the table, but the structure of the table still exists.
   
   EXAMPLE :-

In [ ]:
TRUNCATE TABLE Student_info;

d) DROP :
   
   This command is used to remove an existing table along with its structure from the Database.
   
   EXAMPLE :-

In [ ]:
DROP TABLE Student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL, but a time comes when we actually want to execute some fairly complicated data interactions. We will also need the Data Manipulation Language in that situation. DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from the scratch. When it comes to interacting within existing data, whether adding, moving, or deleting data, it provides a convenient way to do so.

The Database Management System offers a framework of functions or dialects to modify or alter the data, called the Data Manipulation Language. Data manipulation could be done perhaps by typing SQL queries or by using, a typically called Query-by-Example (QBE) graphical interface. These declarations are used to modify the data found in the tables. These declarations are going to work on results. There is no relation with the structure of the tables for these statements. Data manipulation includes introducing data into tables, altering the table’s data and deleting the data from the table.

Transaction control is required for the DML statements. Any modification that a DML statement makes to the database will be called as a transaction. Any adjustment made by DML statement must therefore, be controlled by TCL statements (Transaction Control Language). DML is a subset of SQL statements which alter the information stored in tables. As, it mainly concentrates on database performance, as well as it utilizes HDFS (Hadoop Distributed File System) storage’s append-only nature.

a) INSERT Command :–
    
   This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using     
    this instruction. This is often used to connect an unused tag to the documents.
    
EXAMPLE :-

In [ ]:
INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur');

b) UPDATE Command –
  
  This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the      
  data which is already present in a table.
  
  EXAMPLE :-

In [ ]:
UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini';

c) DELETE Command –
  
  It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’      
  condition then all the rows would be erased or deleted.
  
  EXAMPLE :-

In [ ]:
DELETE FROM students

WHERE stu_id = '001';

Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based 

on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing 

order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT 

is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a 

front-end.

List of DQL: 

a) SELECT: It is used to retrieve data from the database.

Select is the most commonly used statement in SQL. The SELECT Statement in SQL is used to retrieve or fetch data from a database. We can fetch either 

the entire table or according to some specified rules. The data returned is stored in a result table. This result table is also called the result set. 

With the SELECT clause of a SELECT command statement, we specify the columns that we want to be displayed in the query result and, optionally, which 

column headings we prefer to see above the result table. The select clause is the first clause and is one of the last clauses of the select statement 

that the database server evaluates. The reason for this is that before we can determine what to include in the final result set, we need to know all 

of the possible columns that could be included in the final result set. 

EXAMPLE :-

In [ ]:
SELECT ROLL_NO, NAME, AGE FROM Student;

In [ ]:
 SELECT * FROM Student;

Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing 

table column or a column that is specifically generated by the database according to a defined sequence. 

Example:– 

STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many 

candidate keys). 

Foreign Key: 

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or 

columns) that references a column (most often the primary key) of another table. 

Example:– 

STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

CURSOR :-

Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables. 

There are 2 types of Cursors: Implicit Cursors, and Explicit Cursors.

i) Implicit Cursors:

   Implicit Cursors are also known as Default Cursors of SQL SERVER. These Cursors are allocated by SQL SERVER when the user performs DML operations.

ii) Explicit Cursors :

   Explicit Cursors are Created by Users whenever the user requires them. Explicit Cursors are used for Fetching data from Table in Row-By-Row Manner.

How to create Explicit Cursor:

a) Declare Cursor Object.

b) Open Cursor Connection.

c) Fetch data from cursor.

d) Close cursor connection.

e) Deallocate cursor memory.

EXECUTE :-

This method executes the given database operation (query or command). The parameters found in the tuple or dictionary params are bound to the 

variables in the operation. Specify variables using %s or %(name)s parameter style (that is, using format or pyformat style). execute() returns an 

iterator if multi is True.


If multi is set to True, execute() is able to execute multiple statements specified in the operation string. It returns an iterator that enables 

processing the result of each statement. However, using parameters does not work well in this case, and it is usually a good idea to execute each 

statement on its own.

The execute () method helps us to execute the query and return records according to the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order in which the clauses in queries are executed is as follows :-

a) FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

b) WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

c) GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

d) HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

e) SELECT: The SELECT clause is executed to derive all desired columns and expressions.

f) ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

g) LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.